body {
	background-color: #fefefe;
	color: #000;
	font-size: 14pt;
}


table {
	border-collapse: collapse;
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
	width: 100%;
	max-width: 1500px;
}
thead {
	text-align: center;
	border-bottom: 1px solid #000;
}
thead th:nth-child(1) {
  width: 60%;
}
tbody tr:nth-child(odd){
  background-color: #fafafa;
}
tbody tr:hover {background-color: #f0f0f0;}

th, td {
	padding: 10px 10px;
	vertical-align: center;
}

