<!DOCTYPE html>
<html lang="en">
	<head>
		<title>IEEE Special Issue Tracker</title>
		<link rel="stylesheet" href="main.css">
	</head>
	<body>
		<nav>
			<ul class="navlinks">
			{% for society in societies %}
			<li><a href="#{{ society.id }}">{{ society.name }}</a></li>
			{% endfor %}
			</ul>
		</nav>
		<p>Latest update: {{ timestamp }} </p>

		<main>
		{% for society in societies %}
		<section>
		<h1 id="{{ society.id }}"><a href="{{ society.url }}">{{ society.name }}</a></h1>
		{{ society.table }}
		</section>
		{% endfor %}
		</main>
	</body>
</html>
